<!DOCTYPE html>
<html>
  <head>
    <title>Verificador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
<body>
    <div class="header dark-mode-element" style="background-color: #007bff;">
        <h1>Verificador de Afirmações</h1>
        <div class="dark-mode-toggle dark-mode-element" id="dark-mode-toggle">🌙</div>
    </div>
    <div class="content">
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-group dark-mode-element">
                <input type="file" id="file-input" name="file" required class="dark-mode-element">
                <button type="submit" class="dark-mode-element">Enviar</button>
                <div class="loader-container dark-mode-element">
                    <span>Processando arquivo...</span>
                    <div class="loader dark-mode-element"></div>
                </div>
            </div>
        </form>
        <div class="chat-container dark-mode-element" id="response-container"></div>
    </div>
    <div class="pagination-container dark-mode-element" id="pagination-container"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</body>
</html>